[submodule "modules/powerline"]
	path = modules/powerline
	url = https://github.com/powerline/powerline.git
[submodule "modules/fugitive"]
	path = modules/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "modules/commentary"]
	path = modules/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "modules/tabular"]
	path = modules/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "modules/supertab"]
	path = modules/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "modules/taglist"]
	path = modules/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
